{% extends "base.html" %}

{% block titulo %}
    Perfil do Usuário
{% endblock %}

{% block conteudo %}
    <div class="container-fluid px-0 position-relative">
        <!-- Imagem sobre o carrossel -->
        <div class="overlay-image">
            <img src="/media/suaLojaBrasileira.png" alt="Sua Loja Brasileira" class="overlay-img">
        </div>

        <!-- Carrossel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/carrossel001.jpg" class="d-block w-100" alt="Imagem 1">
                </div>
                <div class="carousel-item">
                    <img src="/media/carrossel2.jpg" class="d-block w-100" alt="Imagem 2">
                </div>
                <div class="carousel-item">
                    <img src="/media/carrossel03.jpg" class="d-block w-100" alt="Imagem 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Botão Comprar -->
        <div class="overlay-button">
            <a href="{% url 'loja' %}" class="btn btn-primary">Comprar</a>
        </div>
    </div>

    <!-- Contêiner para os flipcards -->
    <div class="flipcard-container">
        <div class="flipcard-wrapper">
            <div class="flipcard flip1">
                <div class="front"><img src="media/card/card1.svg" alt="Imagem 1"></div>
                <div class="back">
                    <h4>Desempenho e conforto para suas partidas.</h4>
                    <a href="{% url 'loja' %}" class="btn-outline-custom">Comprar</a>
                </div>
            </div>
        </div>
        <div class="flipcard-wrapper">
            <div class="flipcard flip2">
                <div class="front"><img src="media/card/card2.svg" alt="Imagem 2"></div>
                <div class="back">
                    <h4>Estilo e conforto para torcer com paixão.</h4>
                    <a href="{% url 'loja' %}" class="btn-outline-custom">Comprar</a>
                </div>
            </div>
        </div>
        <div class="flipcard-wrapper">
            <div class="flipcard flip3">
                <div class="front"><img src="media/card/card3.svg" alt="Imagem 3"></div>
                <div class="back">
                    <h4>Durabilidade e precisão em cada lance.</h4>
                    <a href="{% url 'loja' %}" class="btn-outline-custom">Comprar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
