{% extends "base.html" %}

{% block titulo %}
    {{ product.name }}
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Preço: R$ {{ product.price }}</p>
            <p>Em estoque: {{ product.quantity_in_stock }}</p>

            {% if user.is_authenticated %}
            <form action="{% url 'add_to_cart' product_id=product.id %}" method="get">
                <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity_in_stock }}">
                <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
            </form>
            
                <a href="{% url 'remove_from_cart' product_id=product.id %}" class="btn btn-outline-dark">Remover do Carrinho</a>

            {% else %}
                <p>Por favor, <a href="{% url 'login' %}">faça login</a> para adicionar itens ao carrinho.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
