{% extends "base.html" %}

{% block titulo %}
    Cadastro
{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
        <div class="w-50 mx-auto">
            <h2 class="text-center mb-4">Cadastro</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
            </form>
        </div>
    </div>
{% endblock %}
